Readme
deploygate-icon.xcf
deploygate-small.xcf
deploygate-big.xcf
deploygate-icon.png
DeployGate/MessageLogs
DeployGatePreference.asset
DeployGatePreference.asset.meta
Temp
Library
*.csproj
*.pidb
*.sln
*.userprefs
obj
